.main-container {
    background-color: #ffffff;
}

/* beginning of nav stylesheet */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: #000;
    height: 20%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav-links a {
    color: #000;
}

.logo {
    font-size: 2rem;
}

.bi-caret-down-fill {
    font-size: 0.6rem;
}

.menu {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

.menu li:hover {
    background-color: #2b2b2b;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: azure;
}

.menu li {
    padding: 5px 2px;
}

.drop-menu {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdowns {
    position: absolute;
    background-color: #fff;
    padding: 1em 0;
    display: none;
    border-radius: 8px;
    top: 3rem;
    z-index: 2;
}

.wide {
    width: 600%;
    position: absolute;
    top: 3rem;
}

.dropdowns li+li {
    margin-top: 10px;
}

.dropdowns li {
    padding: 0.5em 1em;
    width: 5em;
    display: inline-block;
}

.dropdowns li a {
    color: #000;
}

.dropdowns li:hover {
    background-color: darkgray;
}

.drop-menu:hover .dropdowns {
    display: block;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    font-size: 2rem;
    display: none;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 1;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdowns {
        left: -120%;
        top: 30px;
        /* transform: translateX(35%); */
    }

    .wide {
        width: 350%;
    }

    .dropdowns li:hover {
        background-color: #4c9e9e;
    }
}

/* End of nav stylesheet */

.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-container {
    width: 95%;
    height: 80%;
    background-color: black;
    margin: 0 2% 0 2%;
}

.slider {
    display: none;
    width: 100%;
    height: 100%;
}

.slider>img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.slider-animation {
    animation-name: fade;
    animation-delay: 2s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.movie-container {
    width: 96%;
    min-height: 100vh;
    margin: 5% 2% 0 2%;
}

.right {
    float: right;
    position: relative;
}

.search-results-container{
    width: 100%;
    position: absolute;
    top: 3rem;
    background-color: var(--general-dark-color);
    z-index: 3;
}

.result-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--black);
    padding: 2%;
}

.result-container:last-child{
    border-bottom: none;
}

.img-container{
    width: 30%;
    height: 100%;
    padding-right: 10px;
}

.img-container > img{
    width: 100%;
}

.title-container{
    width: 70%;
    height: 100%;
    text-align: center;
}

.movie-container>.input-group {
    width: auto;
}

.genral-container {
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    padding-left: 4%;
}

.movie-img-contaier {
    display: inline-block;
    width: 22%;
    height: 50%;
    margin: 2% 2% 4% 0;
    box-shadow: 8px 1px 10px 9px rgba(82, 82, 82, 0.23), 2px 1px 10px 4px darkgray;
}

.movie-img-contaier:hover {
    box-shadow: 8px 1px 10px 9px rgba(82, 82, 82, 0.23), 2px 1px 10px 4px #0A35A2;
}

.movie-img-contaier>img {
    width: 100%;
    height: auto;
}

.movie-img-contaier>.ratings {
    width: 100%;
    height: 10%;
    background-color: #000;
    border: 1px solid transparent;
    text-align: center;
    color: var(--icon-color);
}

.movie-img-contaier>.desc {
    width: 100%;
    height: 20%;
    background-color: #000;
    border: 1px solid transparent;
    text-align: center;
}

.desc>a {
    color: #ffff;
    text-decoration: none;
}

.desc>a:hover {
    color: darkgrey;
}

.pop-up {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #fff;
    width: 80%;
    height: 80vh;
    margin: auto;
    overflow: auto;
    padding-left: 4%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    background-color: transparent;
    border: none;
}

.close:hover {
    cursor: pointer;
    color: var(--general-dark-color);
}

/* .overlay {
    width: 100%;
    height: auto;
    background-color: #00000099;
    backdrop-filter: blur(500px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
} */