:root{
    --icon-color: #ffd700;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    font-size: 1em;
}

html {
    overflow-x: hidden;
}

.hidden {
    display: none;
}